{% extends "base.html" %}
{% block content %}

<h2>Admin Dashboard</h2>

<div style="margin-bottom:20px;">
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload Excel / CSV</button>
    </form>
</div>

<hr>

{% if timetable %}

<h3>Full Updated Timetable</h3>

{% for day in days %}

<h3 style="margin-top:25px;">{{ day }}</h3>

<div class="table-wrapper">
    <table>
        <tr>
            <th>Section</th>
            {% for period in periods %}
                <th>{{ period }}</th>
            {% endfor %}
        </tr>

        {% for section in sections %}
        <tr>
            <td>{{ section }}</td>

            {% for period in periods %}
                <td>
                    {{ timetable[day][section][period] }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endfor %}

{% else %}
<p>No timetable uploaded yet.</p>
{% endif %}

{% endblock %}